<div *ngIf="product" class="product-page">
  <div class="product-page-container">
    <div class="row">
      <div class="col-md-8">
        <div
          class="product-details-image"
          [ngStyle]="{
            'background-image':
              'url(./assets/imgs/' + (product && product?.image) + ')'
          }"
        ></div>
      </div>
      <div class="col-md-4">
        <div class="product-details-row">
          <div class="product-brand">{{ product?.hero }}</div>
          <h1 class="product-title">{{ product?.title }}</h1>
          <div class="product-price">
            {{ product?.price | currency: "INR":true }}
          </div>
          <div class="product-description">{{ product?.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
